<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brittlepins.recognitionlibrary">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".CameraActivity"
            android:label="Component Search"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="components" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>